name: Test and Deploy

on:
  push:
    branches:
      - '*'
      - '!release'
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Cache maven
      uses: actions/cache@v1
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
              ${{ runner.os }}-maven-
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Test
      run: mvn -B clean verify -Drun.qa=true -Dmaven.buildNumber.skip=true -s .github/maven/settings.xml
    - name: Build and deploy
      run: mvn -B package deploy -DskipTests -s .github/maven/settings.xml
      if: success() && github.ref == 'refs/heads/master'
      env:
        MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
        MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
    - name: Generate Coverage report
        run: mvn jacoco:report -Dmaven.buildNumber.skip=true -P jacoco -s .github/maven/settings.xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
